extends ../layout 

block content 

  h1= title 

  each bag in list 
    div(style='border:solid black;margin-bottom:25px')
      p 
        span #[strong Name:] !{bag.name}
      p
        span #[strong Description:] !{bag.description}
      p
        span #[strong Price:] $!{bag.price}
      p 
        span #[strong Number-in-Stock] !{bag.number_in_stock}
        
  button Add new

  a(href='/') Go back