extends ../layout 

block content 

  div.items-page
    div.title
      h1= title
      div.decor

    div.category
      a.add(href='/bags/create') Add New

      each bag in list 
        div.item
          div.info
            p
              span #[strong Name:] 
              |!{bag.name}
            p
              span #[strong Price:] 
              |$!{bag.price}
            p
              span #[strong Number-in-Stock:] 
              |!{bag.number_in_stock}
            a(href=bag.url) View details
          if bag.bag_type === 'Shoulder-bag'
            img(src='/images/shoulder-bag.png', alt='shoulder bag')
          else if bag.bag_type === 'Backpack'
            img(src='/images/backpack.png', alt='backpack')
          else if bag.bag_type === 'Handbag'
            img(src='/images/handbag.png', alt='handbag')
          else 
            img(src='/images/carrier.png', alt='pet carrier')



