extends ../layout 

block content 

  div.items-page
    div.title
      h1= title
      div.decor

    div.category
      a.add(href='/bags/create') Add New

      each bag in list 
        div.item
          div.info
            p
              span #[strong Name:] 
              |!{bag.name}
            p
              span #[strong Price:] 
              |$!{bag.price}
            p
              span #[strong Number-in-Stock:] 
              |!{bag.number_in_stock}
            a(href=bag.url) View details
          img(src='/images/carrier.png', alt='pet bag')

