extends ../layout

block content 

  div.details-page
    div.title
      h1= title
      div.decor

    if error 
      p= error 
    else 
      div.details
        p 
          span #[strong Username:]
          |  !{bag.user.username}
        p 
          span #[strong Category:]
          |  !{bag.category}
        p 
          span #[strong Name:]
          |  !{bag.name}
        p 
          span #[strong Pet:]
          |  !{bag.pet}
        p 
          span #[strong Type:]
          |  !{bag.bag_type}
        p 
          span #[strong Size:]
          |  !{bag.size}
        p 
          span #[strong Color:]
          |  !{bag.color}
        p 
          span #[strong Description:]
          |  !{bag.description}
        p 
          span #[strong Price:]
          |  $!{bag.price}
        p 
          span #[strong Number-in-Stock:]
          |  !{bag.number_in_stock}
        p 
          span #[strong Date added:]
          |  !{bag.date_added_formatted}

        if bag.user.username === user.username 
          div.form-container
            form(method='POST', action='')
              input#id(type='hidden', name='id', required='true', value=bag._id)
              button(type='submit') Delete 

            form(method='GET', action='/bags/update/' + bag._id)
              input#bag_id(type='hidden', name='bag_id', required='true', value=bag._id)
              input#bag_pet(type='hidden', name='bag_pet', required='true', value=bag.pet)
              button(type='submit') Edit