extends layout

block content 

  div.items-page
    div.title
      h1= title + ' ' + sumOfItems
      div.decor
      img(src='/images/cat.png', alt='cat image')

    div.category
      h2 Bags/Carriers: #{bagCount}

      br
      
      a.add(href='/bags/create') Add New
      if bags.length > 0
        each bag in bags 
          div.item
            div.info
              p
                span #[strong Name:] 
                |!{bag.name}
              p
                span #[strong Price:] 
                |$!{bag.price}
              p
                span #[strong Number-in-Stock:] 
                |!{bag.number_in_stock}
            
              a(href=bag.url) View details
            if bag.bag_type === 'Shoulder-bag'
              img(src='/images/shoulder-bag.png', alt='shoulder bag')
            else if bag.bag_type === 'Backpack'
              img(src='/images/backpack.png', alt='backpack')
            else if bag.bag_type === 'Handbag'
              img(src='/images/handbag.png', alt='handbag')
            else 
              img(src='/images/carrier.png', alt='pet carrier')
      else 
        p.status You haven't added any bags or carriers yet.

    div.divider
    div.category
      h2 Beds: #{bedCount}
      br
      
      a.add(href='/beds/create') Add New
      if beds.length > 0
        each bed in beds 
          div.item
            div.info
              p
                span #[strong Name:] 
                |!{bed.name}
              p
                span #[strong Price:] 
                |$!{bed.price}
              p
                span #[strong Number-in-Stock:] 
                |!{bed.number_in_stock}
              
              a(href=bed.url) View details
            img(src='/images/bed.png', alt='pet bed')
      else 
        p.status You haven't added any beds yet.

    div.divider
    div.category
      h2 Clothes: #{clothingCount}
      br
      
      a.add(href='/clothes/create') Add New
      if clothes.length > 0 
        each clothing in clothes 
          div.item
            div.info
              p
                span #[strong Name:] 
                |!{clothing.name}
              p
                span #[strong Price:] 
                |$!{clothing.price}
              p
                span #[strong Number-in-Stock:] 
                |!{clothing.number_in_stock}
              
              a(href=clothing.url) View details
            if clothing.clothing_type === 'Jacket'
              img(src='/images/jacket.png', alt='pet jacket')
            else if clothing.clothing_type === 'Vest'
              img(src='/images/vest.png', alt='pet vest')
            else if clothing.clothing_type === 'Overall'
              img(src='/images/overall.png', alt='pet overall')
            else 
              img(src='/images/clothing.png', alt='pet shirt')
      else 
        p.status You haven't added any clothing yet.

    div.divider
    div.category
      h2 Food: #{foodCount}
      br
      
      a.add(href='/food/create') Add New 
      if food.length > 0
        each meal in food 
          div.item
            div.info
              p
                span #[strong Name:] 
                |!{meal.name}
              p
                span #[strong Price:] 
                |$!{meal.price}
              p
                span #[strong Number-in-Stock:] 
                |!{meal.number_in_stock}
              
              a(href=meal.url) View details
            if meal.food_type === 'Dry'
              img(src='/images/food.png', alt='dry pet food')
            else if meal.food_type === 'Wet-packet'
              img(src='/images/packet.png', alt='wet pet food')
            else if meal.food_type === 'Canned'
              img(src='/images/canned.png', alt='canned pet food')
            else if meal.food_type === 'Seed mix'
              img(src='/images/seeds.png', alt='seed mix')
            else 
              img(src='/images/fish-food.png', alt='fish food')
      else 
        p.status You haven't added any food yet.

    div.divider
    div.category
      h2 Hygiene: #{hygieneCount}
      br
      
      a.add(href='/hygiene/create') Add New 
      if hygiene.length > 0
        each product in hygiene 
          div.item
            div.info
              p
                span #[strong Name:] 
                |!{product.name}
              p
                span #[strong Price:] 
                |$!{product.price}
              p
                span #[strong Number-in-Stock:] 
                |!{product.number_in_stock}
              
              a(href=product.url) View details
            if product.name === 'Shampoo - 0.5l'
              img(src='/images/shampoo.png', alt='pet shampoo')
            else if product.name === 'Pads - 1pack/50pc'
              img(src='/images/pad.png', alt='pet pad')
            else if product.name === 'Brush'
              img(src='/images/pet-brush.png', alt='pet brush')
            else if product.name === 'Nail clipper'
              img(src='/images/nail-clipper.png', alt='nail clipper')
            else if product.name === 'Water cleaner'
              img(src='/images/water-cleaner.png', alt='water cleaner')
            else if product.name === 'Sawdust - 1pack/5.0l'
              img(src='/images/sawdust.png', alt='sawdust')
            else 
              img(src='/images/litter-box.png', alt='pet litter')
      else 
        p.status You haven't added any hygiene products yet.

    div.divider
    div.category
      h2 Leashes: #{leashCount}
      br
      
      a.add(href='/leashes/create') Add New 
      if leashes.length > 0
        each leash in leashes 
          div.item
            div.info
              p
                span #[strong Name:] 
                |!{leash.name}
              p
                span #[strong Price:] 
                |$!{leash.price}
              p
                span #[strong Number-in-Stock:] 
                |!{leash.number_in_stock}
              
              a(href=leash.url) View details
            img(src='/images/leash.png', alt='dog leash')
      else 
        p.status You haven't added any leash yet.

    div.divider
    div.category
      h2 Scratching Posts: #{scratchingPostCount}
      br
      
      a.add(href='/scratching-posts/create') Add New 
      if scratching_posts.length > 0
        each post in scratching_posts 
          div.item
            div.info
              p
                span #[strong Name:] 
                |!{post.name}
              p
                span #[strong Price:] 
                |$!{post.price}
              p
                span #[strong Number-in-Stock:] 
                |!{post.number_in_stock}
              
              a(href=post.url) View details
            img(src='/images/post.png', alt='cat scratching post')
      else 
        p.status You haven't added any scratching posts yet.

    div.divider
    div.category
      h2 Toys: #{toyCount}
      br
      
      a.add(href='/toys/create') Add New 
      if toys.length > 0
        each toy in toys 
          div.item
            div.info
              p
                span #[strong Name:] 
                |!{toy.name}
              p
                span #[strong Price:] 
                |$!{toy.price}
              p
                span #[strong Number-in-Stock:] 
                |!{toy.number_in_stock}
              
              a(href=toy.url) View details
            if toy.name === 'Chew toy'
              img(src='/images/bone.png', alt='chew bone')
            else if toy.name === 'Running wheel'
              img(src='/images/running-wheel.png', alt='running wheel')
            else if toy.name === 'Branch'
              img(src='/images/branch.png', alt='branch')
            else if toy.name === 'Plastic tunnel'
              img(src='/images/tunnel.png', alt='plastic tunnel')
            else if toy.name === 'Hanging rope'
              img(src='/images/rope.png', alt='rope')
            else if toy.name === 'Plush toy'
              img(src='/images/plush-toy.png', alt='plush toy')
            else
              img(src='/images/ball.png', alt='ball')

      else 
        p.status You haven't added any toys yet.

      

